body {
    background-image: url(grammy.png);
    padding: 0;
    justify-content: center;
    display: flex;
    justify-content: center;
    animation: loading 1s;
}

img {
    width: 250%;
    box-shadow: 6px 10px 30px rgb(0, 0, 0);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    animation: fadeIn 1.0s ease-in;
}

.left,
.center,
.right {
    padding: 20px;
}

.left {
    width: 33%;
}

.center {
    width: 33%;
}

.right {
    width: 33%;
}

.fade-in {
    animation: fadeIn 1.5s ease-in;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

img:hover {
    transform: scale(1.05);
    box-shadow: 6px 10px 30px rgb(0, 0, 0);
}